#root {
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
}
h1 {
  color: rgb(255, 255, 255);
}

h2{
  font-family: Arial, Helvetica, sans-serif;
}

p {
color: rgb(255, 255, 255);
}

/* Header Section Styles */
.header{
  float: none;
  top: 0;
  text-align: center;
  position: fixed;
  height: fit-content; 
  width: 100%;
}

.header #pageTitle {
  top: 15px;
  color: #198754;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
}

.header #logoImage {
  vertical-align: middle;
  text-align: center;
  float: left;
  width: 120px;
  height: auto;
}

/* Top Navigation Bar Styles  */
/* Add a background color to the top navigation */
.topnav {
  background-color: #198754;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #04AA6D;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* File Upload Styles */
.fileuploads {
  text-align: center;
}

#pageinformation {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 10px;
}

.upload-titles {
  font-family: Arial, Helvetica, sans-serif;
}

.buttons:hover {
  cursor: pointer;
}

/* Login Page Styles */
.LoginForm{
  margin: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}